<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}" {{ if .Site.Params.defaultTheme }}data-theme="{{ .Site.Params.defaultTheme }}"{{ end }}>
<head>
  {{- partial "head.html" . -}}
</head>
<body>
  {{- partial "header.html" . -}}
  <main id="main-content">
    <div class="site-wrapper">
      {{- block "main" . }}{{- end }}
    </div>
  </main>
  {{- partial "footer.html" . -}}
  <script>
    // Restore theme from localStorage before paint
    (function() {
      var t = localStorage.getItem('theme');
      if (t) document.documentElement.setAttribute('data-theme', t);
    })();
  </script>
</body>
</html>
